.page {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    text-align: center;
}

header {
    text-align: center;
}

header span {
    font-size: 60px;
    font-size: 2em;
    color: #f16059;
}